.my-navbar {
    display: flex;
    justify-content: flex-end;
}

.login-button {
    display: block;
    margin: 1rem;
    font-weight: 600;
    border: 2px solid rgb(52, 71, 158);
    background-color: transparent;
    color: #34479d;
}

